.cont {
  width: 35%;
  margin: auto;
}

.review {
  border: 3px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.review-text {
  font-size: 20px;
}

.col-info {
  border-right: 3px solid;
}

.review-img {
  width: 100px;
}

.p-text {
  font-size: 20px;
  margin: 0 15%;
}

.label-text {
  font-size: 30px;
}

.feat-text {
  font-size: 30px;
}

.list-text {
  font-size: 20px;
}
