<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HubMX</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-5" href="/">HubMX</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <form action="/predict" method="get">
              <div class="input-group">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="company"
                >
                  <option selected disabled>
                    ¡Escoge una empresa para ver su futuro!
                  </option>
                  <option value="S">SentinelOne</option>
                  <option value="BRZE">Braze</option>
                  <option value="CFLT">Confluent</option>
                  <option value="TOST">Tost</option>
                  <option value="AMPL">Amplitude</option>
                  <option value="GTLB">GitLab</option>
                  <option value="UDMY">Udemy</option>
                </select>
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </form>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <h1 class="display-1 text-center">Bienvenido a HubMX</h1>
      <h2 class="display-2 text-center">
        El hogar para tu siguiente inversión
      </h2>

      <h3 class="text-center display-5 mt-5">
        Cuéntenos que opinas de este sitio
      </h3>

      <form class="mx-auto w-50 mt-3" action="/insertReview" method="POST">
        <div class="form-group">
          <label for="user" class="label-text">Ingrese su nombre</label>
          <input
            class="form-control"
            placeholder="Linus Torvalds"
            type="text"
            name="user"
            id="user"
          />
        </div>
        <div class="form-group">
          <label for="text" class="label-text">Ingrese su reseña</label>
          <input
            class="form-control"
            placeholder="Este sitio es..."
            type="text"
            name="text"
            id="text"
          />
        </div>
        <div class="text-center mt-3 mb-5">
          <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
        </div>
      </form>
      <h3 class="display-5 text-center">
        Mira lo que los demás tienen que decir
      </h3>
      <div class="cont">
        {% for review in reviews %}
        <div class="row review">
          <div class="col-md-3 text-center col-info">
            <img
              src="/static/img/{{review[4]}}.png"
              alt="{{review[4]}}"
              class="review-img pt-2"
            />
            <p class="text-center">{{review[1]}}</p>
            <p class="text-center">{{review[2]}}</p>
          </div>
          <div class="col-md-9 my-auto review-text">
            <p class="mt-3">{{review[3]}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer></footer>
  </body>
</html>
