<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>HubMX</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-5" href="/">HubMX</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <form action="/predict" method="get">
              <div class="input-group">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="company"
                >
                  <option selected disabled>
                    ¡Escoge una empresa para ver su futuro!
                  </option>
                  <option value="S">SentinelOne</option>
                  <option value="BRZE">Braze</option>
                  <option value="CFLT">Confluent</option>
                  <option value="TOST">Tost</option>
                  <option value="AMPL">Amplitude</option>
                  <option value="GTLB">GitLab</option>
                  <option value="UDMY">Udemy</option>
                </select>
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </form>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <h1 class="text-center display-1">Un vistazo al futuro</h1>
      <h2 class="text-center display-5">
        Gracias a la IA podemos predecir el futuro de las startups más
        importantes del momento
      </h2>

      <p class="text-center p-text mt-5">
        La siguiente información fue generada con inteligencia artificial.
        Observa el pasado de la compañía para predecir el valor de sus acciones
        en los siguientes <strong>15 días</strong>
      </p>
      <div class="text-center">
        <img
          src="/static/img/{{company}}.png"
          alt="{{company}}"
          class="mx-0 my-0"
        />
      </div>

      <p class="p-text text-center mb-5">
        La información generada por el modelo es una predicción creada
        analizando el valor de las acciones de la empresa desde el 2021 hasta
        noviembre 2023. La gráfica compara el precio de los últimos dos meses
        contra el de los siguientes 15 días. El modelo busca predecir el
        comportamiento general del precio de las acciones de forma general para
        guiar a inversionistas en sus decisiones de comprar o vender.
      </p>
    </main>
  </body>
</html>
